<div class="parent-container">
  <div class="col-lg-6">
    <div class="container text-center">
      <h3>
        <b>EXPERIENCES</b>
      </h3>
    </div>
    <hr>
    <div id="contact-info" class="vcard">
      <div class="container" *ngFor="let experience of experiences;let i=index">
        <div class="row">
          <div class="col-lg-10">
            <b>Designation{{i+1}}:</b>
            <span class="tel" [froalaView]="experiences[i].designation">{{experiences[i].designation}}</span>
          </div>
          <div class="col-lg-2">
            <button class="btn btn-primary" id="{{i}}" #buttonId (click)="onUpdateButton(buttonId)">Update</button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10">
            <b>Company{{i+1}}:</b>
            <span class="tel" [froalaView]="experiences[i].company">{{experiences[i].company}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10">
            <b>Duration{{i+1}}:</b>
            <span class="tel" [froalaView]="experiences[i].duration">{{experiences[i].duration}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10">
            <b>Description{{i+1}}:</b>
            <span class="tel" [froalaView]="experiences[i].details">{{experiences[i].details}}</span>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div class="col-lg-6" id="editor">
    <div class="container text-center">
      <h3>
        <b>EDITOR</b>
      </h3>
    </div>
    <hr>
    <div class="container text-center">
      <div class="row">
        <div class="container text-center">Designation</div>
        <p [froalaEditor]="options" [(froalaModel)]="experiences[froalaId].designation" style="width:80%"></p>
      </div>
      <div class="row">
        <div class="container text-center">Company</div>
        <p [froalaEditor]="options" [(froalaModel)]="experiences[froalaId].company" style="width:80%"></p>
      </div>
      <div class="row">
        <div class="container text-center">Duration</div>
        <p [froalaEditor]="options" [(froalaModel)]="experiences[froalaId].duration" style="width:80%"></p>
      </div>
      <div class="row">
        <div class="container text-center">Description</div>
        <p [froalaEditor]="options" [(froalaModel)]="experiences[froalaId].details" style="width:80%"></p>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <button class="btn btn-primary" (click)="onAddDetails()">Add</button>
        </div>
        <div class="col-lg-6">
          <button class="btn btn-primary" (click)="onRemoveDetails()">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>