<html>
<body class="rs0">
  <div class="page0">
    <!-- Dark Part -->
    <div class="left0">

      <div class="name0">
        <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/b0/b08ef7e06939fd344065088e3d3f23848ea1f23b_full.jpg"
        />
        <h1 class="h10" [froalaView]="personalDetails.name">{{personalDetails.name}}</h1>
       
        <h2 class="h30" [froalaView]="personalDetails.profession">{{personalDetails.profession}}</h2>
        <h5 class="h10" [froalaView]="personalDetails.dob">{{personalDetails.dob}}</h5>
        <div class="contact0">  
          <h3 class="h40" [froalaView]="personalDetails.phoneNo">{{personalDetails.phoneNo}}>Contact</h3>
          <p class="p0" [froalaView]="personalDetails.email">{{personalDetails.email}}
            <br>Address:
            <span class="link">bambusource.de</span>
          </p>
        </div>

      </div>
      <div class="divider0">
      </div>

      <div class="skills0">
        <h3 class="h30">Skills</h3>
        <dd *ngFor="let skill of skills;let j=index">
       <h2 [froalaView]="skills[j].name">{{skills[j].name}}</h2>
       </div>
      <div class="divider0">
      </div>

    </div>
    <!-- Light Part -->
    <div class="right0">
      <div class="education0">
        <h3 class="h30">Education</h3>
        <table class="table table-striped" id="education-table" width="100%">
            
            <tr>
              <th>S.No</th>
              <th>Standard</th>
              <th>School / College</th>
              <th>Year of Passing</th>
              <th>Percentage</th>
            </tr>
                 <tr *ngFor="let education of educationDetails;let i=index">
                   <td>{{i+1}}</td>
              <td class="std" [froalaView]="educationDetails[i].Qualification">{{educationDetails[id].Qualification}}>
                </td>
              <td [froalaView]="educationDetails[i].schoolName">{{educationDetails[id].schoolName}}
              </td>
              <td [froalaView]="educationDetails[i].yearOfPassing">{{educationDetails[id].yearOfPassing}}
              </td>
              <td [froalaView]="educationDetails[i].Marks">{{educationDetails[id].Marks}}</td>
            </tr>
          
        </table>
      </div>

      <div class="experience0">
        <h3 class="h30">Experience</h3>
        <hr>
        <h4 class="h40">Experience1</h4>
        <p class="p0">Our very first 3D Game Making experience from 2015. It is not much more than a virtual office you can walk through.
          You can find it here:
          <br> From:
          <br> To:
        </p>
        <h4 class="h40">Experience2</h4>
        <p class="p0">The first Portal 2 mod Jakob and I developed. We published it on moddb.com in April 2016 after a few months of work.
          You can give it a try here:
          <br> From:
          <br> To:
        </p>

      </div>

<!--
      <div class="hobbies0">
        <h3 class="h30">Hobbies</h3>
        <hr>
        <h4 class="h40">Hobbies1</h4>
        <p class="p0">Our very first 3D Game Making experience from 2015. It is not much more than a virtual office you can walk through.
          You can find it here:
          <br> From:
          <br> To:
        </p>

      </div>
      <div class="interest0">
        <h3 class="h30">Interest</h3>
        <hr>
        <h4 class="h40">Interest1</h4>
        <p class="p0">Our very first 3D Game Making experience from 2015. It is not much more than a virtual office you can walk through.
          You can find it here:

          <h4 class="h40">Interest2</h4>
          <p class="p0">The first Portal 2 mod Jakob and I developed. We published it on moddb.com in April 2016 after a few months of
            work. You can give it a try here:

      </div>
      <div class="certificate0">
        <h3 class="h30">Certificates</h3>
        <hr>
        <h4 class="h40">Certificate1</h4>
        <p class="p0">Our very first 3D Game Making experience from 2015. It is not much more than a virtual office you can walk through.
          You can find it here:
          <br> Valid From:
          <br> Valid Till
        </p>

      </div>
      <div class="language0">
        <h3 class="h30">Languages</h3>
        <hr>
        <ul class="ul0">

          <li class="l10">

            <p>buv</p>
          </li>
          <li class="l20">
            <p> jv</p>
          </li>

        </ul>

      </div>
      <div class="summary0">
        <h3 class="h30">Summary</h3>
        <hr>

        <p class="p0">Our very first 3D Game Making experience from 2015. It is not much more than a virtual office you can walk through.
          You can find it here:

        </p>

      </div>
    -->
    </div>
  </div>
  
  <div class="footer">
      <button class="btn btn-primary" (click)="onBackPage()">Back To Editor</button>
  </div>
</body>

</html>
