<div class="parent-container">
  <div class="col-lg-6">
    <div class="container text-center">
      <h3>
        <b>SKILLS</b>
      </h3>
    </div>
    <hr>
    <div id="contact-info" class="vcard">
      <div class="container" *ngFor="let skill of skills;let i=index">
        <div class="row">
          <div class="col-lg-10">
            <b>Skill{{i+1}}:</b>
            <span class="tel" [froalaView]="skills[i].name">{{skills[i].name}}</span>
          </div>
          <div class="col-lg-2">
            <button class="btn btn-primary" id="{{i}}" #buttonId (click)="onUpdateButton(buttonId)">Update</button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10">
            <b>Details:</b>
            <span class="tel" [froalaView]="skills[i].details">{{skills[i].details}}</span>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div class="col-lg-6" id="editor">
    <div class="container text-center">
      <h3>
        <b>EDITOR</b>
      </h3>
    </div>
    <hr>
    <div class="container text-center">
      <div class="row">
        <div class="container text-center">Skills</div>
        <p [froalaEditor]="options" [(froalaModel)]="skills[froalaId].name" style="width:80%"></p>
      </div>
      <div class="row">
        <div class="container text-center">Description</div>
        <p [froalaEditor]="options" [(froalaModel)]="skills[froalaId].details" style="width:80%"></p>
      </div>
      <div class="row" style="margin-top:150px">
        <div class="col-lg-6">
          <button class="btn btn-primary" (click)="onAddDetails()">Add</button>
        </div>
        <div class="col-lg-6">
          <button class="btn btn-primary" (click)="onRemoveDetails()">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>