<div class="container">
<div class="row">
  <div class="class-lg-3"></div>
  <div class="col-lg-9">
      <label>
          <i class="fa fa-user fa-x" >
          <b>Personal Information</b></i>
        </label>
  </div>
</div>
<div class="row" > 
  <div class="col-lg-7">
    <div class="row">
      <div class="col-lg-5">
          <label class="headings">First name</label>
      </div>
      <div class="col-lg-5">
          <label class="headings">Last name</label>
      </div>
    </div>
  
  <div class="row">
      <div class="col-lg-5">
        <input type="text" ng-model="descp" class="form-control" disabled>
      </div>
      <div class="col-lg-5">
        <input type="text" ng-model="descp2" class="form-control" disabled>
      </div>    
  </div>
  
  <div class="row">
    <label class="headings">&nbsp;&nbsp;&nbsp;&nbsp;Profession</label>
  </div>
<div class="col-lg-9">
    <input type="tel" class="form-control" disabled>  
  </div>


  </div>
  
  <div>
    <img src="./assets/i.jpg" alt="" width="250" height="150">
  </div>
</div>
  <div>
      <div class="row">
            <label class="headings">
                <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>Address</label>
          </div>
        <div class="col-lg-5">
            <input type="tel" class="form-control" disabled>  
          </div>
        <div class="row">
            <label class="headings">
                <i class="fa fa-phone-square fa-2x" aria-hidden="true"></i>Phone No.</label>
          </div>
        <div class="col-lg-5">
            <input type="tel" class="form-control" disabled>  
          </div>
          <div class="row">
              <label class="headings">
                  <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>Email</label>
            </div>
          <div class="col-lg-5">
              <input type="email" class="form-control" disabled>  
            </div>
            <div class="row">
                <label class="headings">
                    <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>Date of birth</label>
              </div>
            <div class="col-lg-5">
                <input type="date" class="form-control" disabled>  
              </div>
              <div class="row">
                  <label class="headings">
                      <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>LinkedIn</label>
                </div>
              <div class="col-lg-5">
                  <input type="tel" class="form-control" disabled>  
                </div>
                <div class="row">
          
                    <label class="headings">
                        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>Twitter</label>
                  </div>
                <div class="col-lg-5">
                    <input type="tel" class="form-control" disabled>
                  </div>        
  </div>
</div>
