<div class="parent-container">
    <div class="container" [ngSwitch]="templateId">
            <div id="contact-info" class="vcard" *ngSwitchCase="2">        
                    <h1 class="fn" [froalaView]="personalDetails.firstName">{{personalDetails.firstName}}</h1>
                        Cell: <span class="tel" [froalaView]="personalDetails.phoneNo">{{personalDetails.phoneNo}}</span><br />
                        Email: <a class="email" href="email" [froalaView]="personalDetails.email">{{personalDetails.email}}</a>
                </div>
         
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                    <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6">
                                        <p>First Name</p>
                                        <p [froalaEditor]='options' [(froalaModel)]="personalDetails.firstName" style="width:80%"></p>
                                        
                                </div>
                                <div class="col-lg-6">
                                        <p>Last Name</p>
                                        <p [froalaEditor]="options" [(froalaModel)]="personalDetails.lastName" style="width:80%"></p>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6">
                                        <p>Phone No</p>
                                        <p [froalaEditor]="options" [(froalaModel)]="personalDetails.phoneNo" style="width:80%"></p>
                                </div>
                                <div class="col-lg-6">
                                        <p>Email</p>
                                        <p [froalaEditor]="options" [(froalaModel)]="personalDetails.email" style="width:80%"></p>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6">
                                        <p>LinkedIn</p>
                                        <p [froalaEditor]="options" [(froalaModel)]="personalDetails.linkedIn" style="width:80%"></p>
                                </div>
                                <div class="col-lg-6">
                                        <p>Twitter</p>
                                        <p [froalaEditor]="options" [(froalaModel)]="personalDetails.twitter" style="width:80%"></p>
                                </div>
                            </div>
                        </div>          
            </div>
        </div>
    </div>
</div>
