<div class="parent-container">
  <div class="col-lg-6">
    <div class="container text-center">
      <h3>
        <b>PERSONAL DETAILS</b>
      </h3>
    </div>
    <hr>
    <div class="container">
      <div id="contact-info" class="vcard">
        <div class="row">
          <div class="col-lg-10">
            <b>Name:</b>
            <span class="tel" [froalaView]="personalDetails.name">{{personalDetails.name}}</span>
          </div>
          <div class="col-lg-2">
            <button class="btn btn-primary" (click)="onTextClick(1)">Update</button>
          </div>
        </div> 
        <div class="row">
          <div class="col-lg-10">
            <b>Phone No:</b>
            <span class="tel" [froalaView]="personalDetails.phoneNo">{{personalDetails.phoneNo}}</span>
          </div>
          <div class="col-lg-2">
            <button class="btn btn-primary" (click)="onTextClick(4)">Update</button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10">
            <b>Email:</b>
            <span class="email" [froalaView]="personalDetails.email">{{personalDetails.email}}</span>
          </div>
          <div class="col-lg-2">
            <button class="btn btn-primary" (click)="onTextClick(5)">Update</button>
          </div>
        </div>
        <div class="row">
                <div class="col-lg-10">
                 <b> Dob:</b>
                  <span class="dob" [froalaView]="personalDetails.dob">{{personalDetails.dob}}</span>
                </div>
                <div class="col-lg-2">
                  <button class="btn btn-primary" (click)="onTextClick(3)">Update</button>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-10">
                  <b>Address:</b>
                  <span class="address" [froalaView]="personalDetails.address">{{personalDetails.address}}</span>
                </div>
                <div class="col-lg-2">
                  <button class="btn btn-primary" (click)="onTextClick(6)">Update</button>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-10">
                  <b>Profession:</b>
                  <span class="address" [froalaView]="personalDetails.profession">{{personalDetails.profession}}</span>
                </div>
                <div class="col-lg-2">
                  <button class="btn btn-primary" (click)="onTextClick(2)">Update</button>
                </div>
              </div>
        <div class="row" *ngFor="let newField of newFields;let i=index">
          <div class="col-lg-10">
           <b><span [froalaView]="newFields[i].fieldName">{{newFields[i].fieldName}}</span></b>
            <span class="tel" [froalaView]="newFields[i].fieldInfo">{{newFields[i].fieldInfo}}</span>
          </div>
          <div class="col-lg-2">
            <button class="btn btn-primary" id="{{i}}" #buttonId (click)="onUpdateButton(7,buttonId)">Update</button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10">
            <b>Image:</b>
            <span class="tel" [froalaView]="personalDetails.image">{{personalDetails.image}}</span>
          </div>
          <div class="col-lg-2">
            <button class="btn btn-primary" (click)="onTextClick(10)">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6" id="editor">
    <div class="container text-center">
      <h3>
        <b>EDITOR</b>
      </h3>
    </div>
    <hr>
    <div [ngSwitch]='froalaId' style="margin-top:10%">
      <div *ngSwitchCase="1">
        <div class="container text-center">Name</div>
        <p [froalaEditor]='options' [(froalaModel)]="personalDetails.name" style="width:80%"></p>
      </div>
      <div *ngSwitchCase="2">
        <div class="container text-center">Profession</div>
        <p [froalaEditor]='options' [(froalaModel)]="personalDetails.profession" style="width:80%"></p>
      </div>
      <div *ngSwitchCase="3">
        <div class="container text-center">DOB</div>
        <p [froalaEditor]='options' [(froalaModel)]="personalDetails.dob" style="width:80%"></p>
      </div>
      <div *ngSwitchCase="4">
        <div class="container text-center">Phone No</div>
        <p [froalaEditor]="options" [(froalaModel)]="personalDetails.phoneNo" style="width:80%"></p>
      </div>
      <div *ngSwitchCase="5">
        <div class="container text-center">Email</div>
        <p [froalaEditor]="options" [(froalaModel)]="personalDetails.email" style="width:80%"></p>
      </div>
      <div *ngSwitchCase="6">
        <div class="container text-center">Address</div>
        <p [froalaEditor]="options" [(froalaModel)]="personalDetails.address" style="width:80%"></p>
      </div>
      <div *ngSwitchCase="10">
        <div class="container text-center">Image</div>
        <p [froalaEditor]="optionsImage" [(froalaModel)]="personalDetails.image" style="width:80%"></p>
      </div>
      <div *ngSwitchCase="7">
        <div class="container text-center">
          <div class="container text-center">Field Name</div>
          <p [froalaEditor]="options" [(froalaModel)]="newFields[newFieldsFroalaId].fieldName" style="width:50%"></p>
        </div>
        <div class="container text-center">
          <div class="container text-center">Field Info</div>
          <p [froalaEditor]="options" [(froalaModel)]="newFields[newFieldsFroalaId].fieldInfo" style="width:50%"></p>
        </div>
      </div>
    </div>
    <div class="row" style="text-align:center;margin-top:350px">
      <div class="col-lg-6">
        <button class="btn btn-primary" (click)="onAddDetails()">Add Field</button>
      </div>
      <div class="col-lg-6">
        <button class="btn btn-primary" (click)="onRemoveDetails()">Remove Field</button>
      </div>
    </div>
  </div>
</div>
