<div class="parent-container">
    <div class="col-lg-7" [ngSwitch]="templateId">
      <div class="container text-center">
        <h3>
          <b>INTERESTS</b>
        </h3>
      </div>
      <hr>
      <div id="contact-info" class="vcard" *ngSwitchCase="2">
        <div class="container" *ngFor="let interest of interests;let i=index">
          <div class="row">
            <div class="col-lg-10">
              <dd>
                <strong>Interests:</strong>
                <p [froalaView]="interests[i]">{{interests[i]}}</p>
              </dd>
            </div>
            <div class="col-lg-2">
              <button class="btn btn-primary" id="{{i}}" #buttonId (click)="onUpdateButton(buttonId)">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="container text-center">
        <h3>
          <b>EDITOR</b>
        </h3>
      </div>
      <hr>
      <div class="container text-center">
        <div class="row">
          <p>Interests</p>
          <p [froalaEditor]="options" [(froalaModel)]="interests[froalaId]" style="width:80%"></p>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <button class="btn btn-primary" (click)="onAddDetails()">Add</button>
          </div>
          <div class="col-lg-6">
            <button class="btn btn-primary" (click)="onRemoveDetails()">Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>


